fastapi
uvicorn
sqlalchemy
alembic
pymysql
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pydantic-settings
python-multipart
python-dotenv
openpyxl
pypdf
langchain
langchain-ollama
langchain-community
langchain-text-splitters
faiss-cpu
